
@model TechJobsPersistent.ViewModels.AddEmployerViewModel


<h1>Employer</h1>

<table class="table">
    <tr>
        <th>Employer Name:</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Employer Location:</th>
        <td>@Model.Location</td>
    </tr>
</table>